$vw: 0.2564;

//colors-light
$main: #2B2B2B;
$negative: #FFF;
$key: #108854;
$key-hover: rgba(16, 136, 84, 0.15);
$key-bg: rgba(16, 136, 84, 0.05);
$key2: #AE6425;
$bg: #F8F8F8;
$bg2: #FFFFFF;
$gray: #C4C4C4;
$link: #0066C0;

//colors-dark
$dark-main: #F2F2F2;
$dark-negative: #2B2B2B;
$dark-key: #3FB07D;
$dark-key-hover: rgba(63, 176, 125, 0.15);
$dark-key-bg: rgba(63, 176, 125, 0.05);
$dark-key2: #FF9300;
$dark-bg: #2a2a2a;
$dark-bg2: #2a2a2a;
$dark-gray: #707070;
$dark-link: #FFFFFF;